doctype html
html
  head
    title Every Flavour Feels
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css")
    script(defer, src="https://code.getmdl.io/1.3.0/material.min.js")
    link(rel="stylesheet", href="eff/main.css")
    meta(name="robots" content="noindex")
  body
    h2 Bertie Bott's Every Flavour Feels
    video(class="feels-player", loop, controls, src="")
    button(class="mdl-button mdl-js-button get-feels" disabled) Get Feels
      i(class="material-icons") autorenew
    script(src="eff/index.js")
