doctype html
html
  head
    title Flavour Feels
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css")
    script(defer, src="https://code.getmdl.io/1.3.0/material.min.js")
  body
    h2 Bertie Bott's Every Flavour Feels
    video(class="feelplayer", src="")
    button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent")
      Get Feels
      i(class="material-icons") autorenew
    script(src="dist/bundle.js")
