body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body h2 {
  text-align: center;
}

.feels-player {
  display: block;
}

.get-feels{
  margin-top: 20px;
}

body button i {
  margin-left: 4px;
}

